@using Newtonsoft.Json
@model IEnumerable<Shared.Vacation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Upcoming Vacations</title>
</head>
<body>
    <div>
        <pre>
@JsonConvert.SerializeObject(Model, Formatting.Indented)
        </pre>
    </div>
</body>
</html>